/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
.env
.env.backup
.env.production
composer.phar
.DS_Store
dist
